doctype frameset
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title 新都社
  frameset(cols='20%,*', frameborder='no', framespacing='0')
    frame(name='menu', src='menu.html', noresize='noresize', scrolling='auto', frameborder='0')
    frame(name='main', src='template.html', frameborder='0')
