doctype html
html
  head
    meta(charset='UTF-8')
    title 新都社 | テンプレート
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='js/scripts.js')
  body
    .wrapper
      .header
        h1 テンプレート
      .menu
        dl
          dt 文書一覧
          dd
            a(href='#') 他のファイル
            a(href='#') 他のファイル
            a(href='#') 他のファイル
            a(href='#') 他のファイル
            a(href='#') 他のファイル
        p 説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト
        p 説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト
        p 説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト
      .main
        .section
          h2#a H2見出しA
          h3 H3見出し
          p
            | 本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
            | 本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
          h3 H3見出し
          p
            | 本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
            | 本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
        .section
          h2#b H2見出しB
          h3 H3見出し
          p
            | 本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
            | 本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
          h3 H3見出し
          p
            | 本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
            | 本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
      .footer
        .socialbuttons
          a.twitter-share-button(href='https://twitter.com/share', data-via='neetsha', data-lang='ja', data-hashtags='新都社', data-dnt='true') ツイート
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        address
          a(href='http://neetsha.jp/') copyright &copy; since 2005 Neetsha.
